@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.container {
    max-width: 62.5%;
    margin: 0 auto;
}

.in_arenda_avto {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
    margin: 25px 0;
}

.in_arenda_avto span {
    font-family: 'Gilroy-Light', sans-serif;
    color: #989898;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
}

/* =============== */
.for_in {
    margin-bottom: 90px;
}

.for_in h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 15px;
}

.for_in h3 {
    color: #242321;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px;
}

.for_in h4 {
    color: #242321;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 25px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.cards div {
    width: 50%;
    display: flex;

}

.cards div img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.cards div h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #242321;
}

/* ==== */
.unique {
    display: flex;
    justify-content: space-between;
}

.img_slog {
    display: flex;
    align-items: center;
}

.img_slog img {
    margin-bottom: 20px;
    margin-right: 10px;
}

.unique div h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 50px;
}

.img_slog h4 {
    color: #242321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.32px;
    text-decoration-line: underline;
}

/* ================== */
.beri_ruli {
    margin-bottom: 100px;
}

.beri_ruli h2 {
    color: #242321;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
    margin-bottom: 60px;
}

.beri_ruli h2 span {
    color: #0088CF;
}

/* =========== */
.lider {
    display: flex;
    justify-content: space-between;
}

.blue_cubok {
    width: 35%;
    border-radius: 5px;
    background: #0088CF;
    position: relative;
    height: 245px;
    padding: 95px 60px 0 60px;
}

.img_in_bg {
    position: absolute;
    top: 0px;
    left: -75px;
}

.img_in_bg_in {
    position: absolute;
    top: 150px;
    left: 235px;
}

.blue_cubok p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.36px;
    position: relative;
    z-index: +2;
}

/* ============ */
.seo {
    width: 60%;

}

.seo h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #242321;
    margin-bottom: 20px;
}

.seo p {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
}

/* ============ */
.connection {
    margin-top: 94px;
    background-color: #F5F5F9;
}

.connection_block {
    display: flex;
    justify-content: space-between;
}

.connection_left {
    width: 48%;
}

.connection_left h2 {
    padding-top: 54px;
    width: 464px;
    color: #242321;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
}

.connection_left h2 span {
    color: #0088CF;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 46px;
}

.connection_left h3 {
    padding-top: 29px;
    width: 364px;
    color: #242321;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.connection_left h3 span {
    color: #242321;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
}

.connection_left h4 {
    padding-top: 11px;
    color: #0088CF;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
}


.connection_right {
    width: 48%;
    padding-top: 60px;
}

.connection_right input {
    width: 100%;
    height: 57px;
    color: #242321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.8px;
    margin: 15px 0;
    padding-left: 25px;
}

.connection_down {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 61px;
}

.connection_down input {
    width: 20px;
    height: 20px;
}

.connection_down h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #242321;
    width: 38%;
}

.connection_down button {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: center;
    border-radius: 5px;
    background: #FFFFFF;
    color: #242321;
    width: 45%;
}

.connection_down button:hover {
    color: #fff;
    background: #0088CF;
}