@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

.rent_auto {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 62.5%;
	gap: 45px;
	margin-bottom: 100px;
}

.rent_title {
	color: #242321;
	font-family: 'Gilroy-Heavy', sans-serif;
	font-size: 30px;
	font-style: normal;
	line-height: 46px;
}

.rent_title span {
	color: #0088cf;
	font-family: 'Gilroy-Heavy', sans-serif;
	font-size: 30px;
	font-style: normal;
	line-height: 46px;
}

.rent_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 60px;
	min-height: 192px;
	flex-shrink: 0;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #0088cf;
	background: #f5f5f9;
	padding: 42px 0 44px 20px;
}

.content_item {
	flex: 1 0 40%;
	display: flex;
	align-items: center;
	gap: 16px;
}

.content_item p {
	color: #242321;
	font-family: 'Gilroy-Bold', sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 36px;
}

.content_item p span {
	color: #0088cf;
	font-family: 'Gilroy-Bold', sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 36px;
}
