.container {
    height: 40vh;
    width: 62.5%;
    margin: 0 auto;
}

.nav_block h1 {
    color: var(--black, #333);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.6px;
}

.nav_block li {

    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid #0088CF;
}

.nav_block {
    margin: 30px auto;
}

.nav_stock a {
    color: #686868;
    height: 58px;
    margin: 20px;
    cursor: pointer;
    padding: 20px;
    align-items: center;

    /* display: block; */
    /* justify-content: space-between; */

}

.nav_stock li:hover {
    background-color: #0088CF;
    color: #fff;

}

.nav_stock a:hover {
    /* background-color: #0088CF; */
    color: #fff;

}

.nav_stock ul {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */

    gap: 20px;
}

.nav_block ul {

    /* width: 158px;  */
}

.cars_block {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    align-items: center;
    margin-bottom: 20px;


}

.nav_stock {
    margin: 30px auto;
}

.cards_img {
    width: 100%;

}

.img {
    /* width: 100%; */
    border-radius: 5px;
}

.cards_text {
    gap: 20px;

}

.cards_text p {
    color: #686868;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    /* 250% */

}

.cards_text h2 {
    width: 527px;
    color: #242321;
    font-size: 20px;
    font-weight: 700;
    line-height: 170%;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

.btn_detail_cars {
    width: 36.5%;
    height: 7vh;
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 45px;
    margin-top: 30px;


}

.padination {
    display: flex;
    justify-content: center;
}