@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

.for_registration {
	width: 62.5%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 65px;
}

.f_registr_title {
	color: #242321;
	font-family: 'Gilroy-Heavy', sans-serif;
	font-size: 30px;
	font-style: normal;
	line-height: 45px;
}

.f_registr_content {
	display: flex;
	justify-content: space-between;
	gap: 31px;
}

.card {
	position: relative;
}

.bg {
	width: 360px;
}

.card_icon {
	position: absolute;
	top: -20%;
	left: -6%;
	width: 131.89px;
	height: 131.89px;
	flex-shrink: 0;
}

.card_title {
	position: absolute;
	top: 40%;
	left: 30%;
	color: #fff;
	font-family: 'Gilroy-Bold', sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: 30px;
}
