.beri_ruli {
	display: flex;
	flex-direction: column;
	margin: 0 auto 106px;
	width: 62.5%;
}

.beri_ruli_title {
	color: var(--black, #333);
	font-family: Gilroy;
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: 145%;
	letter-spacing: -0.6px;
	margin-bottom: 18px;
}

.beri_ruli_text {
	color: #242321;
	font-family: Gilroy;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 54px;
}

.beri_ruli_content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 23px;
}
